
/* Your CSS Code here. */
.item{
    grid-row-start: auto;
    letter-spacing: normal;
    grid-row-end: auto;
    grid-column-end: auto;
}
.holder{
    display:grid;
    row-gap: 10px;
    column-gap: 10px;
    background-color: bisque;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

